/*product*/
/*.app {
    margin-left: 5%;
    margin-top: 70px;
    float: left;
    font-size: 18px;
    font-weight: 410;
}

.app h3 {
    color: #2c4c97;
	font-weight: 700;
    font-size:28px;
    text-align: center;
    text-decoration: underline;
}

.rent {
    margin-left: 5%;
    margin-top: 70px;
    float: left;
    font-size: 18px;
    font-weight: 410;
}

.rent h3{
    margin-left: 9%;
    color: #2c4c97;
	font-weight: 700;
    font-size:28px;
    text-align: center;
    text-decoration: underline;
}

.ad {
    margin-left: 5%;
    margin-top: 70px;
    margin-bottom: 100px;
    float: left;
    font-size: 18px;
    font-weight: 410;
}

.ad h3{
    color: #2c4c97;
	font-weight: 700;
    font-size:28px;
    text-align: center;
    text-decoration: underline;
}

h3{
    margin-bottom: 20px;
}

li{
    margin-left: 7%;
    font-size: 16px;
    font-weight: normal;
}

.p-rent{
    margin-left: 5.25%;
    font-size: 17px;
}
/*product*/
/*.app {
    margin-left: 5%;
    margin-top: 70px;
    float: left;
}

.app h3 {
    background-color:#4C6DBD;
	border-radius:25px;
	border:3px solid black;
    color: #252829;
	font-weight: 300;
	padding:15px 65px;
    box-shadow:4px 4px 3px #424547;
    width: 120px;
    text-align: center;
}

.rent {
    margin-left: 5%;
    margin-top: 70px;
    float: left;
}

.rent h3{
    background-color:#7ABD6C;
	border-radius:25px;
	border:3px solid black;
    color: #252829;
	font-weight: 300;
	padding:15px 65px;
	box-shadow:4px 4px 3px #424547;
    width: 200px;
    text-align: center;
}

.ad {
    margin-left: 5%;
    margin-top: 70px;
    margin-bottom: 100px;
    float: left;
}

.ad h3{
    background-color:#BDF2E7;
	border-radius:25px;
	border:3px solid black;
    color: #252829;
	font-weight: 300;
	padding:15px 65px;
	box-shadow:4px 4px 3px #424547;
    width: 150px;
    text-align: center;
}
*/
h3{
    margin-bottom: 20px;
}
/*product end*/

h2 {
    color: #4C6DBD;
    text-align: center;
    margin-bottom: 20px;
}

.body {
    margin: 0 25vw 100px 25vw;
    font-size: medium;
}

ol, ul {
    margin: 0 5vh 0 5vh
}
